h1{
    text-align: center;
}
body{
    background-color: aqua;
    text-align: center;
}
#caja{
    border: 2px solid red;
}
.colores{
    color: purple;
}

.boton{
    padding: 25px;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    text-align: center;
    font-size: large;
}